<%- include ../header.html%>

<div class="uk-width-9-10" style="height:100%;">
    <form id="article-form" class="uk-form" method="post">
    <header>
        <input type="text" name="title" value="<%=blog.title%>" style="width:100%;"/>
        <i class="fa fa-tags"></i>
        <input type="text" name="tags" value="<%=blog.tags%>"/>
        <div class="uk-button-group">
            <button class="uk-button" id="blog-save">保存草稿</button>
            <div data-uk-dropdown="{mode:'hover'}">
                <a href="" class="uk-button"><i class="uk-icon-caret-down"></i></a>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a href="javascript:void(0);" id="blog-publish">立即发布</a></li>
                        <li><a href="/admin/delArticle?id=<%=blog._id%>">删除博文</a></li>
                    </ul>
                </div>
            </div>
        </div> 
        <div>
            <input type="hidden" name="isPublish"/>
            <input type="text" name="info" value="<%=blog.info%>" style="width:100%;height:60px;"/>
        </div>
    </header>

    <div>
        <textarea name="content" data-uk-htmleditor="{markdown:true}"><%=blog.content%></textarea>
    </div>
    </form>
    
</div>
<script>
    $("#blog-save").click(function(){
        $("form").submit();
    });
    $("#blog-publish").click(function(){
        $("input[name='isPublish']").val(1);
        $("form").submit();
    });
</script>    
<%- include ../footer.html%>