<%- include ../header.html%>
<section class="uk-width-3-10" style="padding:15px;">
	<header>
		<div style="height:40px;background:#F7F7F3;padding:0 10px;" class="uk-vertical-align">
		<div class="uk-vertical-align-middle uk-width-1-2">所有博文 </div><div class="uk-vertical-align-middle uk-width-1-2" style="text-align:right;"><a href="/admin/createArticle"><i class="fa fa-plus"></i></a></div>
      	</div>
	</header>
	<div id="article-list" class="uk-scrollable-text" style="height:600px;">
        
        <ul class="uk-list uk-list-space">

            <%posts.forEach(function(post){%>
        	<li>
        		<a class="article-title" href="javascript:void(0);">
                    <h3><%=post.title%></h3>
                    <input type="hidden" class="article-id" value="<%=post._id%>"/>
                </a>
                <time>发布于19hours ago:<%=post.time%></time>
            </li>
            <%})%>
        </ul>
    </div>
</section>

    <div class="uk-width-7-10" style="padding:15px;">
    	<header>
        	<div >
        		<a class="uk-button uk-button-success" type="button" href="/admin/editArticle?id=<%=posts[0]._id%>&name=a"><i class="fa fa-edit"></i>编辑</a>
        	</div>
        </header>
    	<div id="article-content" class="uk-scrollable-text" style="height:630px;">
        <section>
            <h1><%=posts[0].title%></h1>
            <div><%-posts[0].content%></div>
            <input type="hidden" id="article-id" value="<%=posts[0]._id%>" />
        </section>
        </div>
</div>        
<script>
    $(".article-title").click(function(){
        var id = $(this).find(".article-id").val();
        $.post("/admin/getArticle",{id:id},function(data){
            //alert(JSON.stringify(data));
            $("#article-content").find("h1").text(data.title);
            $("#article-content").find("div").html(data.content);
            $("#article-content").find("h1").val(data._id);
        });
    });
</script>
<%- include ../footer.html%>