<!DOCTYPE html>
<html lang="en">
    <head>
        <title>admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/libs/normalize-css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/src/css/ui.css" />
        <style>
        #app{height:100%}
        #app-container{display:flex;height:100%;}
        .main-container{width:100%}
        </style>
    </head>
    <body>
        <div id="app-top"></div>
        <form action="/upload" enctype='multipart/form-data' method="POST">
            <input type="file" name="avatar">
            <input type="submit" value="上传">
        </form>
    </body>
</html>