<!DOCTYPE html>
<html lang="en">
    <head>
        <title>admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/libs/normalize-css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/src/css/ui.css" />
        <style>
        #app{height:100%}
        #app-container{display:flex;height:100%;}
        .main-container{width:100%}
        </style>
    </head>
    <body>
        <div id="app">hello world</div>
    </body>
    <script src="http://localhost:8080/__build__/shared.js"></script>
    <script src="http://localhost:8080/__build__/app.js"></script>
</html>