<!DOCTYPE html>
<html ng-app="systemApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台</title>
    <link href="/dist/ui/css/uikit.css" rel="stylesheet">
    <link href="/css/uk/codemirror.css" rel="stylesheet">
    <link href="/css/uk/htmleditor.css" rel="stylesheet">
    <link href="/css/uk/sticky.min.css" rel="stylesheet">
    <link href='/fontawesome/css/font-awesome.min.css' rel='stylesheet'>
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/uk/uikit.min.js"></script>
    
	<!-- angular应用后台 -->	
    <script src="/dist/sys/js/lib.min.js"></script>
    <script src="/system/js/app.js"></script>
    <script src="/system/js/services.js"></script>
    <script src="/system/js/controllers.js"></script>
    <script src="/system/js/filters.js"></script>

<!-- markdown -->
    <script src="/js/uk/codemirror.js"></script>
    <script src="/js/uk/markdown.js"></script>
    <script src="/js/uk/overlay.js"></script>
    <script src="/js/uk/xml.js"></script>
    <script src="/js/uk/gfm.js"></script>
    <script src="/js/uk/marked.min.js"></script>
    <script src="/js/uk/htmleditor.js"></script>
    <script src="/js/uk/sticky.min.js"></script>
    <script>
        $(function(){
            /*$('#list-content').slimScroll({
                height: '650px'
            });*/
            $('#entry-markdown').slimScroll({
                height: '500px'
            });
            $('#entry-preview').slimScroll({
                height: '500px'
            });
        });
    </script>
</head>

<body>
    <header style="background:#fff;">
        <nav class="uk-navbar">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">主页</a></li>
                <li class="uk-active"><a href="/admin/logout">退出</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <div id="page-wrapper">
            <div id="left-nav">
                <nav>
                    <ul class="uk-nav uk-nav-side uk-text-center ">
                        <li><a href="/admin#/blog"><div><i class="fa fa-list"></i></div>文章</a></li>
                        <li><a href="/admin/labsList" class="uk-text-middle"><div><i class="fa fa-plus"></i></div>实验场</a></li>
                    </ul>
                </nav>
            </div>

            <div class="uk-container uk-container-center" style="margin-top:1.5%;max-width:100%;">
                <!-- ng-view -->
                <div class="uk-grid" style="" ng-view>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>
