<%- include header.html%>
	<div class="uk-width-1-4" style="">
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<a href="/admin/editLabs">
				<h2 class="uk-panel-title">labs 1</h2>
				<p>项目描述....</p>
			</a>
		</div>
	</div>
	<div class="uk-width-1-4" style="">
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<a href="/admin/editLabs">
				<h2 class="uk-panel-title">labs 1</h2>
				<p>项目描述....</p>
			</a>
		</div>
	</div>
	<div class="uk-width-1-4" style="">
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<a href="/admin/editLabs">
				<h2 class="uk-panel-title">labs 1</h2>
				<p>项目描述....</p>
			</a>
		</div>
	</div>
	<div class="uk-width-1-4" style="">
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<a href="/admin/editLabs">
				<h2 class="uk-panel-title">labs 1</h2>
				<p>项目描述....</p>
			</a>
		</div>
</div>
<%- include footer.html%>