/* ui */
*{
    line-height: 1.1;
    font-family: "tahoma","Helvetica","Microsoft Yahei",sans-serif;
    box-sizing: border-box;
    color:#555;
}
html,body{height:100%}
.container{
    width:1170px;margin:0 auto;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.text-center{
    text-align: center
}
.btn{width:84px;height:40px;text-align: center;line-height: 40px;border-radius: 10px;cursor: pointer}
.btn-default{background:#ececec;transition:all .3s ease-out}
.btn-default:hover{background: #d4d4d4;}
.progress .out{height:2px;background:#999}
.progress .out .inner{height:2px;background:#555}
.clearfix{clear:both;float:none;}
a{text-decoration:none;}

.text-success{color:#4caf50}
.row{display:flex;justify-content: space-between;padding:15px;}
.card{position:relative;padding:20px;box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.33);margin:20px;min-width:240px;}
.card:before{position:absolute;width:4px;left:-1px;top:-1px;bottom:-1px;content:' '}
.card-blue:before{background:#2196f3}
.card-orange:before{background:#ff9800}
.card-red:before{background:#f44336}
.card-green:before{background:#4caf50}

strong{font-weight: 500;font-size:180%}