<%- contentFor('body')%>
<div class="page-about">
    <h3>三分天注定，七分靠打拼</h3>
    <div class="title-underline"></div>
    <section>
        我是三生。。。
    </setion>
    <section class="checklist">
        <div class="experience category">
            <h3>Experience</h3>
            <div class="title-underline"></div>
            <div class="item">
                <h4>Shein</h4>
                <p>前端开发攻城狮</p>
                <p>2016-至今</p>
            </div>
            <div class="item">
                <h4>易极云商</h4>
                <p>前端开发攻城狮</p>
                <p>2015-2016</p>
            </div>
        </div>
        <div class="education category">
            <h3>Eduction</h3>
            <div class="title-underline"></div>
            <div class="item">
                <h4>湖南文理学院</h4>
                <p>网络工程</p>
                <p>2010-2014</p>
            </div>
            <div class="item">
                <h4>湖南省宁远县第一中学</h4>
                <p>高中</p>
                <p>2007-2010</p>
            </div>
        </div>
        <div class="proficiency category">
            <h3>Proficiency</h3>
            <div class="title-underline"></div>
            <p>web开发</p>
        </div>
    </section>
    <section class="checklist">
        <div class="experience category">
            <h3>knoewledge</h3>
            <div class="title-underline"></div>
            <div class="item">
                <p>Node.js</p>
                <div class="progress">
                    <div class="out"><div class="inner" style="width:80%"></div></div>
                </div>
                <p>html</p>
                <div class="progress">
                    <div class="out"><div class="inner" style="width:90%"></div></div>
                </div>
                <p>css</p>
                <div class="progress">
                    <div class="out"><div class="inner" style="width:90%"></div></div>
                </div>
                <p>Angular.js</p>
                <div class="progress">
                    <div class="out"><div class="inner" style="width:70%"></div></div>
                </div>
                <p>React.js</p>
                <div class="progress">
                    <div class="out"><div class="inner" style="width:40%"></div></div>
                </div>
            </div>
        </div>
        <div class="education category">
            <h3>Eduction</h3>
            <div class="title-underline"></div>
            <div class="item">
                <h4>湖南文理学院</h4>
                <p>网络工程</p>
                <p>2010-2014</p>
            </div>
            <div class="item">
                <h4>湖南省宁远县第一中学</h4>
                <p>高中</p>
                <p>2007-2010</p>
            </div>
        </div>
        <div class="proficiency category">
            <h3>Proficiency</h3>
            <div class="title-underline"></div>
            <p>web开发</p>
        </div>
    </section>
</div>