<%- contentFor('body')%>
<style>
    .title{
        display:flex;
    }
</style>
<div class="page-detail">
    <div class="title">
        <i class="iconfont">&#xe607;</i>
        <h1>buntu14.4搭建nginx,php开发环境</h1>
        <i class="iconfont">&#xe607;</i>
    </div>
    <div class="title-underline"></div>
    <div class="time-wrap">
        <span class="time">一天前</span>
        <span class="star">
            <i class="iconfont">&#xe607;</i>123喜欢
        </span>
        <span class="coments">
            <i class="iconfont">&#xe607;</i>5评论
        </span>
    </div>
</div>