<%- contentFor('body')%>
<style>
    .picker-modal{
        height:200px;position:relative;
        -webkit-mask-box-image:linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
        overflow:hidden;
    }
    .picker-modal .picker-items-wrap{transform: translate3d(0px, 90px, 0px);}
    .picker-modal .picker-item{height:36px;line-height:36px;color:#999}
    .picker-modal .picker-item.active{color:#333}
</style>
<div class="page-list">
    <div class="picker-modal">
    <div class="picker-items-wrap">
        <div class="picker-item active">linux</div>
        <div class="picker-item">angular.js</div>
        <div class="picker-item">node.js</div>
        <div class="picker-item">react.js</div>
        <div class="picker-item">vue.js</div>
    </div>
    </div>
    <div class="title-underline"></div>
</div>