body,h1,h2,h3,h4,h5 {font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;}

/*index*/
#navbar{box-shadow:1px 1px 10px #999999;}
#navbar a{font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;}
.active a{color:#33CC33 !important;}
.uk-navbar-nav li a{font-size: 16px; transition:color .3s linear;}
.app-footer{background: #333;color: #888;padding:50px 0;}
.app-footer .about-me{padding-left: 50px;}
.app-footer h3{line-height: 1.6;margin-bottom: .5em;font-size: 16px;color: #888;}

/*main*/
.app-home-logo{padding: 10% 0 20% 0;}
.app-home-logo img{width:160px;height:160px;}
.app-node-panel{background: #CCCCCC;padding:50px 0;}
.app-node-logo{width:282px;margin-bottom: 20px;}
#app-framework{font-size: 2em;}
#app-driver{font-size: 2.6em;}
.main-min-height{min-height:600px;}

/*blog-list*/
.blog{margin-top: 50px;}

#blog-list{margin-top: 1.5%;}
@media screen and (max-width: 320px){
	.blog-logo-info{display: none;}
	#blog-list .uk-width-8-10{width:100%;}
	.blog-list-publish-info{display: block;width:100%;text-align: left!important;}
} 
.app-blog a{transition:all .2s linear;}
.app-blog{border-bottom: 1px solid #ddd;padding-bottom: 10px;}
.disabled{pointer-events: none;cursor: default;}
#paginator{margin: 40px 0  30px 15px;}
.paginator-active a{background: #ddd !important;}
.uk-pagination li a{transition:all .4s linear;}

/*blog-content*/
@media screen and (max-width: 320px){
	#blog-detail .uk-width-8-10{width:100%;}
}
.blog-content{margin-bottom: 100px;}
.blog-content p{line-height: 1.8;margin: 1em 0;font-size:1.2em;}
.blog-content ol li{line-height: 1.8;font-size:1.2em;}
.blog-logo-info{position: fixed;padding-top: 10%;}
.blog-logo-info img{width:100px;height:100px;margin: 0 auto;display: block;}
#disqus_thread{margin: 30px 0;}


#wrapper{padding-left:72px;}
#left-nav{padding:0;background:#333;height:100%;top:40px;left:0;color:#fff;position:fixed;overflow:hidden;z-index:999;}
#left-nav li{display:block;height:50px;width:100%;padding:5px 0;margin:0;}
#left-nav li:hover{background:#464646;display:block;height:50px;width:100%;padding:5px 0;margin:0;}
#left-nav li a {color:#fff;}
.blog-header{margin-bottom:20px;}
.blog-header h1{font-weight: 400;line-height: 1.5;margin-bottom: .5em;font-size: 2em;}
.blog-info{width:80%;margin-bottom: 20px;}

/*labs-list*/
.labs-items-img{margin:0 auto; height:120px;width:240px;}
.labs-items-img:hover{opacity: .8;}


.section_loading{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #eee;
}
.section_loading p{
	position: absolute;
	width: 300px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -150px;
	line-height: 50px;
	text-align:center;
	font-size: 26px;
	letter-spacing: 2px;
	color: #777;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}