<div id="blog-list" class="uk-container uk-container-center">
	<div class="uk-grid">
		<div class="uk-width-8-10">
			<div class="uk-panel uk-panel-hover uk-panel-divider" ng-repeat="blog in blogList">
				<div class="uk-panel-title"><h2><a href="/#/blog/{{blog._id}}">{{blog.title}}</a></h2></div>
				<p>{{blog.info}}</p>
		        <div class="uk-grid">
		        	<span class="uk-width-7-10"><span style="float:left;color:#b3b3b1;">Tags: {{blog.tags}}</span></span>
		        	<span class="uk-width-3-10 uk-text-right" style="color:#b3b3b1;">{{blog.createTime}}&nbsp;&nbsp;&nbsp;<i class="fa fa-comment">1 </i>&nbsp;&nbsp;<i class="fa fa-eye">{{blog.pv}}</i></span>
	        	</div>
			</div>
			
		</div>
			
		<div class="uk-width-2-10">
			<div class="wrap text-center" style="padding:100% 0">
        		<img class="img-circle" src="/images/logo.jpg" style="width:80px;height:80px;">
        		<h1>Sunyson</h1>
        		<p>伪设计 | 伪前端 | 真码农</p>
		    </div>
		</div>
		<pagination></pagination>
	</div>
</div>