<div class="animated fadeIn uk-container uk-container-center blog" style="padding-top:20px;">
	<div class="uk-grid">
		<div class="uk-width-8-10">
			<div class="blog-header uk-text-center">
				<h1 class="uk-center">{{blog.title}}</h1>
				<span>发布于：{{blog.createTime}}</span>
			</div>
			<div class="blog-content" ng-bind-html="articleContent()"></div>

			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'lixu';
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
		
		<div class="uk-width-2-10 uk-text-center uk-container uk-container-center">
			<div class="logo-info">
        		<img class="uk-border-circle" src="/images/logo.jpg">
        		<h1>Sunyson</h1>
        		<p>伪设计 | 伪前端 | 真码农</p>
		    </div>
		</div>
	</div>
</div>