<div class="app-home-logo uk-panel uk-panel-box">
  <div class="animated bounce uk-container uk-container-center  uk-text-center" style="padding:50px 0 0 0 ;">
    <img class="uk-border-circle" src="/images/logo.jpg">
    <h2>全栈开发尝试者</h2>
    <h4>越努力，越幸运</h4>
  </div>
</div>
<div class="app-node-panel uk-panel uk-panel-box">
  <div class="uk-container uk-container-center  uk-text-center">
    <img class="app-node-logo" src="/images/node-logo.svg">
    <div>
    	<span id="app-framework">koa</span>
	    <span id="app-driver">强力驱动</span>
    </div>
  </div>
</div>
  <!-- <div class="uk-container uk-container-center">
	  <div class="uk-panel uk-panel-box uk-panel-space">
	  <div class="uk-panel-title"><h4>分享链接</h4></div>
	  <ul class="uk-list uk-list-line uk-list-space">
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	  </ul>
	  </div>
  </div> -->