<div class="uk-panel uk-panel-box" style="margin-bottom:1.5%;">
  <div class="uk-container uk-container-center  uk-text-center animated bounce" style="padding:50px 0 0 0 ;">
    <img class="uk-border-circle" src="/images/logo.jpg" style="width:80px;height:80px;">
    <h1>Sunyson</h1>
    <p>越努力，越幸运</p>
  </div>
</div>
  <div class="uk-container uk-container-center">
	  <div class="uk-panel uk-panel-box uk-panel-space">
	  <div class="uk-panel-title"><h4>分享链接</h4></div>
	  <ul class="uk-list uk-list-line uk-list-space">
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	    <li><a href="http://bootcss.com" target="_blank">bootstap</li>
	  </ul>
	  </div>
  </div>