<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/libs/normalize-css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/src/css/ui.css" />
        <link rel="stylesheet" type="text/css" href="/src/css/main.css" />
    </head>
    <body>
    <header class="container">
        <div class="logo" onclick="location.href='/'">LOGO</div>
        <nav class="">
            <ul class="list-inline clearfix">
                <li><a href="/about">About</a></li>
                <li><a href="/list">Blog</a></li>
                <li><a href="">Contact</a></li>
                <div class="clearfix"></div>
            </ul>
        </nav>
    </header>